@import 'fonts.css';

.film_catalog {
  display: flex;
  flex-wrap: wrap;
}

.film_item {
  box-shadow: inset 0px 20px 20px 20px white;
  cursor: pointer;
  position: relative;
  margin: 30px;
  width: 300px;
  height: 550px;
  background: rgb(191 191 191);
}

.film_item:hover {
  background: rgb(216 216 216);
}

.film_img {
  width: 100%;
}

.film_name {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: black;
}

.date_wrapper {
  position: absolute;
  bottom: 0;
  padding: 11px;
  display: flex;
}

.film_date {
  margin-left: 100px;
}