@import 'fonts.css';

.hide {
  opacity: 0;
  pointer-events: none;
}

/* poster */
.item_wrap {
  position: relative;
  margin: 30px;
}

.item_wrap:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.film_catalog {
  display: flex;
  flex-wrap: wrap;
}

.film_item {
  box-shadow: inset 0px 20px 20px 20px white;
  cursor: pointer;
  position: relative;
  width: 300px;
  height: 550px;
  background: rgb(191 191 191);
}

.film_img {
  width: 100%;
}

.film_name {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: black;
}

.date_wrapper {
  position: absolute;
  bottom: 0;
  padding: 11px;
  display: flex;
}

.film_date {
  margin-left: 100px;
}

.active {
  box-shadow: 0px 0px 20px 5px black;
}

/* dots */

.dots_wrap {
  right: -40px;
  margin: 5px;
  position: absolute;
  transition: 0.3s;
}

.dots_wrap:before {
  cursor: pointer;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.dots {
  cursor: pointer;
  width: 35px;
  filter: invert(1);
}

/* menu  */

.menu_wrap {
  z-index: 3;
  position: absolute;
  top: 100px;
  right: 20px;
  background-color: white;
  width: 175px;
  height: 125px;
  transition: all 0.2s;
}

.menu_item:hover::before {
  background: #00000061;
  cursor: pointer;
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
}

.menu_value {
  padding: 10px;
  z-index: 4;
  font-size: 20px;
  color: #525151;
  font-family: monospace;
}

.icon {
  z-index: -1;
  padding: 10px;
  filter: contrast(0.5);
  position: absolute;
  right: 8px;
  width: 20px;
}

/* question */

.popup_wrap {
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(106 102 102 / 80%);
  position: fixed;
  z-index: 3;
}

.popup_block {
  z-index: 3;
  font-family: monospace;
  position: absolute;
  text-align: center;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  width: 300px;
  height: 100px;
  background: white;
  box-shadow: 0px 0px 20px 8px #ac1616;
  transition: 0.5s all;
}

/* .popup_wrap:after {
  background: #000;
  position: absolute;
  z-index: 100;
} */

.title {
  margin: 10px;
  font-size: 20px;
  color: black;
}

.btn_wrap {
  display: flex;
  justify-content: space-between;
}

.popup_btn {
  width: 100px;
  height: 29px;
  background: #000;
  font-size: 21px;
  color: white;
  margin: 10px;
}