@import 'fonts.css';

/* poster */
.item_wrap {
  position: relative;
  margin: 30px;
}

.film_catalog {
  display: flex;
  flex-wrap: wrap;
}

.film_item {
  box-shadow: inset 0px 20px 20px 20px white;
  cursor: pointer;
  position: relative;
  width: 300px;
  height: 550px;
  background: rgb(191 191 191);
}

.film_img {
  width: 100%;
}

.film_name {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: black;
}

.date_wrapper {
  position: absolute;
  bottom: 0;
  padding: 11px;
  display: flex;
}

.film_date {
  margin-left: 100px;
}

.active {
  box-shadow: 0px 0px 20px 5px black;
}

/* dots */

.dots_wrap {

  opacity: 0;
  z-index: -1;
  right: -40px;
  margin: 5px;
  position: absolute;
  transition: 0.5s;
}

.dots {
  cursor: pointer;
  width: 35px;
  filter: invert(1);
}

/* menu  */

.menu_wrap {
  opacity: 0;
  position: absolute;
  top: 100px;
  right: 20px;
  background-color: white;
  width: 175px;
  height: 130px;
  z-index: 0;
  transition: all 0.5s;
}

.menu_item :hover {
  color: red;
}

.value {
  padding: 10px;
  z-index: 4;
  font-size: 20px;
  color: #525151;
  font-family: monospace;
}

.icon {
  z-index: -1;
  padding: 10px;
  filter: contrast(0.5);
  position: absolute;
  right: 8px;
  width: 20px;
}